/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  color: rgb(156, 185, 219);
  font-family: 'Source Sans pro', 'Times New Roman', Times, serif;
  background: white;
  font-size: 62.5%;
  text-align: center;
  width: 90%;
  margin: 1rem auto;
}
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }
.nav-list {
  box-shadow: 0px, 0px, 10px, grey;
  padding: 1rem 0;
  display: flex;
  font-size: 1.25rem;
  align-items: center;
  justify-content: flex-end;
}
.nav-item {
  list-style: none;
  margin-left: 1rem;
  padding: 1rem;
}
.nav-list section {
  border: 2px solid rgb(180, 145, 81);
}
.h1 {
  border: none;
}
.nav-list .h1 + .h1 {
  margin-right: auto;
}

.h1 img {
  height: 2rem;
}
nav:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
nav li ul {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  overflow: hidden;
}
nav li:hover ul {
  padding: 15px 0;
  padding-top: 2rem;
  opacity: 1;
  visibility: visible;
  animation-name: swingdown;
  animation-duration: 1s;
  animation-timing-function: ease;
}
.dropDown li {
  padding: 0.75rem 0.5rem;
  border: 2px solid rgb(180, 145, 81);
  background: rgb(180, 145, 81);
}
@keyframes swingdown {
  0% {
    opacity: 0.999999;
    transform: rotate(90deg);
  }
  30% {
    transform: rotateX(-20deg) rotateY(5deg);
    animation-timing-function: ease-in-out;
  }
  65% {
    transform: rotateX(20deg) rotateY(-3deg);
    animation-timing-function: ease-in-out;
  }
}
h1{
  font-size: 2rem;
  font-weight: 600;
}
main, header section {
  display: flex;
  justify-content: center;
  margin: 2% 0;
}
main{
  font-size: 2.5rem;
  flex-direction: column;
}
.container {
  border: 2px solid rgb(180, 145, 81);
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  justify-content: center;
  margin: 2rem 0;
}
.container section {
  width: 50%;
  display: flex;
  justify-content: center;
}
.container img {
  max-height: 300px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
